<div class="row">
	<div class="col-md-4 article_box">
		<div class="article">
			<%= image_tag 'premier-league-logo-header.svg' %>
			<div class="inner_text">
				<h2 class="toppage_title"><%= link_to "プレミアリーグ", premier_path %></h2>
			</div>
		</div>
	</div>
	<div class="col-md-4 article_box">
		<div class="article">
			<%= image_tag 'laliga-v-300x300.jpg' %>
			<div class="inner_text">
				<h2 class="toppage_title"><%= link_to "リーガ・エスパニョーラ", '#' %></h2>
			</div>
		</div>
	</div>
	<div class="col-md-4 article_box">
		<div class="article">
			<%= image_tag 'bundes.png' %>
			<div class="inner_text">
				<h2 class="toppage_title"><%= link_to "ブンデスリーガ", '#' %></h2>
			</div>
		</div>
	</div>
	<div class="col-md-4 article_box">
		<div class="article">
			<%= image_tag 'serie_logo.png' %>
			<div class="inner_text">
				<h2 class="toppage_title"><%= link_to "セリエA", '#' %></h2>
			</div>
		</div>
	</div>
</div>
