<div class="row">
	<% @articles.each do |article| %>
	<div class="col-md-4">
		<div class="article">
			<img src="<%= article.thumnail %>" alt="">
			<div class="inner_text">
				<h2><a href="<%= article.link %>" target="_blank"><%= article.title %></a></h2>
				<p class="source_site"><a href="<%= article.site_top %>" target="_blank"><%= article.site_name %></a></p>
			</div>
		</div>
	</div>
	<% end %>
</div>
